:root{
    --bg-color: #181818;
    --primary-color: #d6a400;
    --secondary-color: #85000b;
    --tertiary-color: #007981;
    --text-color: #ffffff;
    --text-color-secondary: #999999;
    --large-padding: 1rem;
    --medium-padding: 0.5rem;
    --small-padding: 0.3rem;
    --medium-border-radius: 30px;
    --small-border-radius: 20px;
}
html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: var(--large-padding);
}
.article-title{
    font-size: 2em;
    padding: var(--large-padding);
    border-bottom: 4px solid;
    border-image: linear-gradient(45deg, #d6a400, #85000b) 1;
    margin: 3rem 0;
}

/* HEADER */
.header-content{
    display: flex;
    justify-content: space-between;
    padding: var(--medium-padding);
}
.logo{
    margin: auto 0;
}
.menu ul{
    display: flex;
    gap: 15px;
}
.menu li{
    list-style: none;
}
.menu a{
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}
.menu a:hover{
    color: var(--text-color-secondary);
    transition: 0.3s;
}

/* WELCOME */
.welcome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.welcome-text{
    margin: auto;
}
.welcome-img{
    margin: auto;
}
.welcome-title{
    font-size: 3em;
}
.welcome-subtitle{
    font-size: 2em;
    color: var(--text-color-secondary);
}
.welcome-img img{
    width: 400px ;
}

/* PROJECTS */
.projects ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.projects .project{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    border-radius: var(--medium-border-radius);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.3s;
}
.projects li:hover {
    box-shadow: 0px 0px 3px 0px #ffc400;
    transition: 0.3s;
}

.project-logo{
    width: 40px;
}
.project-title{
    display: flex;
    gap: 15px;
}
.project-name{
    margin: auto 0;
}
.project-description{
    margin: auto 0;
}

/* MUSIC */
.mimusica{
    position: relative;
    pointer-events: none;
}
.playlists-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.playlists-control{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}
.control-left{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    cursor: pointer;
}
.control-right{
    background: rgb(0,0,0);
    background: linear-gradient(-90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    cursor: pointer;
}
#control-arrow-left, #control-arrow-right{
    font-family: monospace;
    font-size: 3em;
    padding: 15px;
    text-shadow: 0px 0px 11px #000000;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.playlists{
    width: 100%;
    display: flex;
    gap: 30px;
    overflow: hidden;
    pointer-events: auto;
}
.playlist{
    min-width: 350px;
    margin-bottom: 1rem;
}
.playlist-text{
    margin: 1rem 0;
}
.playlist-title{
    font-size: 1.5em;
}
.playlist-subtitle{
    font-size: 1em;
    color: var(--text-color-secondary);
}

/* GALLERY */
.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 100px;
}
.image-list{
    width: 500px;
    max-height: 500px;
    overflow-x: auto;
}
.image-preview{
    width: 500px;
    height: 500px;
}
.image-preview img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: var(--small-border-radius);
}
.image-item{
    padding: 1rem 3rem;
    border: 2px solid #d6a400;
    border-radius: var(--medium-border-radius);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image-item-active{
    border: 2px solid #007981;
    cursor: pointer;
}
.image-item .image-title{
    color: var(--primary-color);
}

/* SCROLLBAR */
* {
    scrollbar-width: auto;
    scrollbar-color: #85000b #181818;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #181818;
}

*::-webkit-scrollbar-thumb {
    background-color: #85000b;
    border-radius: 10px;
    border: 3px solid #181818;
}